body,
html {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

header {
    position: absolute;
    background-color: gainsboro;
    height: 10vh;
    width: 100%;
    box-shadow: 0px 0px 10px black;
    z-index: 1;
    background-color: #3C98A4;
}

footer {
    position: absolute;
    background-color: gainsboro;
    height: 40px;
    width: 100%;
    box-shadow: 0px 0px 10px black;
    z-index: 1;
    background-color: #3C98A4;
}

header {
    top: 0px;
}

footer {
    bottom: 0px;
}

#logo {
    position: relative;
    height: 10.5vh;
    width: 8vh;
    left: 6%;
}

.sair-container {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    margin-right: 5px;
}

#sair {
    height: 3vh;
    width: auto;
    margin-right: 5px;
}

.sair-text {
    font-size: 2.5vh;
    color: white;
}

.usuario {
    margin-top: 15vh;
    background: linear-gradient(to top, #17303E, #3C98A4);
    box-shadow: 0px 0px 10px black;
    height: 15vh;
    width: 100%;
}

.inputs {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    height: auto;
    padding: 1vh;
}

.body-container {
    display: flex; /* Ativa Flexbox no container */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: flex-start; /* Alinha no topo, você pode mudar para center se quiser */
    height: 100%; /* Ocupa toda a altura da tela */
}

.dados {
    position: relative;
    color: white;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foto-perfil {
    justify-content: center;
}

.telas {
    position: relative;
    display: flex;
    flex-direction: column; /* Alterado para alinhar horizontalmente */
    justify-content: center; /* Alinha horizontalmente no container */
    align-items: center; /* Alinha os itens verticalmente */
    gap: 20px; /* Espaçamento entre os blocos */
    width: 100%; /* Largura total do container */
    height: 60vh; /* Altura relativa à viewport */
    z-index: 0;
}
  
.tela img{
    position: relative;
    width: 6vh;
    height: 6vh;
    margin-left: auto;
    margin-right: 10px;
}

.tela {
    font-weight: bold;
    display: flex; /* Necessário para ativar o Flexbox */
    border-radius: 10px; /* Bordas arredondadas */
    align-items: center; /* Centraliza verticalmente */
    height: 8vh; /* Define a altura como 8% da viewport */
    width: 90%; /* Defina uma largura fixa ou use porcentagem */
    background-color: blue; /* Cor de fundo azul */
    color: white; /* Texto branco para melhor visibilidade */
    padding: 0 0 0 20px;
}

#associados{
    background: linear-gradient(to right, #E078A4BF, #F71273BF);
}
#atividades{
    background: linear-gradient(to right, #F2D034, #967B03);
}
#configuracoes{
    background: linear-gradient(to right, #424F77, #7B93DD);
}
#lista{
    background: linear-gradient(to right, #F4A952, #8E6230);
}